# When running locally, Taskfile will load this file.
# When running on Railway, Railway will provide these environment variables.

# Discord Token
DISCORD_TOKEN=aBcDeFgHiJkLmNoPqRsTuVwXyZ

# Bot Settings
REMOVE_COMMANDS=true

# Database
DATABASE_URL=mongodb://localhost:27017

# RSS Validator - %v will be replaced by the RSS URL to validate
RSS_VALIDATOR_URL="https://example.com/validate-rss?url=%v"

# RabbitMQ
RABBITMQ_URL="amqp://localhost:5672"
TASKS_QUEUE="tasks"

# Backend
RSS_PULL_CRON="0 0 * * *"
DISCORD_API_URL="https://discord.com/api/v10